#################################################
#               Signpost                        #
#################################################
psp/log
psp/config.yml

#################################################
#               Vim                             #
#################################################
*.swp
*.swn
*.swo

#################################################
#               Ruby                            #
#################################################
coverage
rdoc
pkg
test/tmp
test/version_tmp
tmp
pkg
*.gem
*.rbc
lib/bundler/man
spec/reports
.config
InstalledFiles
.bundle

# YARD artifacts
.yardoc
_yardoc
doc/

# Compiled Object files
*.slo
*.lo
*.o

#################################################
#               Mac OSX                         #
#################################################
.DS_Store

#################################################
#               C code                          #
#################################################
# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# http://www.gnu.org/software/automake
Makefile.in
client_resolver/Makefile
client_resolver/config.*

# http://www.gnu.org/software/autoconf
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
libtool
stamp-h1
ltmain.sh
m4
.deps
.libs

#################################################
#               Python                          #
#################################################
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# log files from psp_python
psp_python/*.log

# testing executables from the client_respolve code
client_resolver/avahi-browser
client_resolver/signpost-avahi-parse
client_resolver/signpost-avahi-publish
client_resolver/signpost-avahi-resolve
client_resolver/signpost-test
client_resolver/unbound-host

