client
dev tun
proto udp
remote @VPN_SERVER_IP@ 1194

resolv-retry infinite
nobind

persist-key
persist-tun
pull

ns-cert-type server
ca ca3.crt
cert client1.crt
key client1.key

comp-lzo
verb 4

#script-security 2
#ipchange "./ip_write.sh"
